.wrapper {
  position: absolute;
  width: 2560px;
  height: 95px;
  left: 0px;
  top: 1344px;

  background: #1b171e;
}

.text {
  top: 7px;
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  color: #ffffff;
}

p:nth-child(1) {
  left: 40px;
}

p:nth-child(2) {
  left: 270px;
}

p:nth-child(3) {
  left: 1100px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  position: absolute;
  left: 2293px;
  top: 35px;
}

.imgWrapper1 {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 10%;
  background: #ffffff;
  left: -9px;
}

.imgWrapper2 {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 10%;
    background: #ffffff;
    left: 40px;
  }

  .imgWrapper3 {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 10%;
    background: #ffffff;
    left: 87px;
  }
